# Dependencies
node_modules/

# Build outputs
dist/
*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# pnpm
.pnpm-store/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
